/*--------------------------------------------------
BODY AND ELEMENTS
--------------------------------------------------*/


body {
	box-sizing: border-box;
	text-align: center;
	color: #666;
	font-family: 'Open Sans', sans-serif;
}


body {
	background: #fff;
	font-size: 16px;
}

img {
	max-width: 100%;
	margin: 10px 0px;
	border-radius: 6px;
}

h1, h2 {
	margin: 0;
	padding: 20px 0px;
	color: #333;
}

h1, footer a:hover {
	text-shadow: 1px 1px #fff, 2px 2px #fff, 3px 3px #fff;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*--------------------------------------------------
LAYOUTS
--------------------------------------------------*/

.wrapper {
	width: calc(100% - (30px));
	max-width: 1224px;
	margin: auto;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

header {
	width: 100%;
}

section {
	padding: 20px 0px 50px;
}

footer {
	border-top: 1px solid #666;
	padding: 30px 0px;
	width: 100%;
	font-size: 0.8rem;
}


/*--------------------------------------------------
NAVIGATION
--------------------------------------------------*/

nav a {
	display: block;
	padding: 10px;
	margin-bottom: 4px;
	background: #fff;
}

nav a,
footer a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

nav a:hover {
	background: #222;
	color: #fff;
}

.footer-nav {
	display: none;
}

.footer-nav,
.footer-nav-small {
	float: right;
}

/*--------------------------------------------------
SECTIONS
--------------------------------------------------*/

#about p,
#contact p {
font-size: 1.15rem;
}

#about img {
	box-shadow: 0 0 5px #555;
}

#contact p {
	max-width: 450px;
	margin: auto;
  margin-bottom: 20px;
}

#contact a {
  text-decoration: none;
  color: #333;
}

#portfolio {
	background: #fff;
}

#portfolio p {
	max-width: 70%;
	margin: auto;
}

.portfolio-item {
	float: left;
	width: 100%;
	margin: 20px 0px;
}

.footer-name {
	font-weight: bold;
	font-size: 1.2em;
	color: #333;
	float: left;
}

/*--------------------------------------------------
MEDIA QUERIES
--------------------------------------------------*/

@media (min-width: 768px) {
	.wrapper {
		width: 90%;
	}

	nav li {
		display: inline;
		margin-left: 20px;
	}

	nav li:first-child {
		margin-left: 0px;
	}

	nav a {
 		display: inline;
		width: auto;
		background: none;
		padding: 10px 0px;
 	}

	nav a:hover {
		text-shadow: 1px 1px #fff, 2px 2px #fff, 3px 3px #fff;
		background: none;
		color: #222;
	}


 	#about p,
 	#contact p {
 		font-size: 1.36rem;
	}

	#about p {
		text-align: left;
	}

 	#about img {
		float: right;
		margin-left: 20px;
	}

	#portfolio p {
		max-width: 80%;
	}

	.portfolio-item {
		width: calc(50% - 16px);
		margin: 8px;
		margin-bottom: 50px;
	}

	/*.portfolio-item:nth-child(2n+1) {
		clear: left;
	}*/

	.footer-nav {
		display: inline;
	}

	.footer-nav-small {
		display: none;
	}

}

@media (min-width: 1024px) {

	header h1 {
		float: left;
 	}

	header nav {
		float: right;
		margin-top: 30px;
 	}

 	#portfolio p{
		max-width: 90%;
 	}

 	.portfolio-item {
		width: calc(33.33% - 20px);
	}

	.portfolio-item:nth-child(1n+3) {
	clear: none;
}

	/*.portfolio-item:nth-child(3n+3) {
		clear: left;
	}*/

}
